## {{ postgresql_dir }}/pg_hba.conf
# {{ ansible_managed }}

# TYPE  DATABASE    USER        CIDR-ADDRESS          METHOD
local   all         postgres                          peer
local   sameuser    all                               md5

