## {{ postgresql_dir }}/pg_hba.conf
# {{ ansible_managed }}

# TYPE  DATABASE    USER        CIDR-ADDRESS          METHOD
local   all         postgres                          ident
local   all         all                               md5

