[submodule "inv"]
	path = inv
	url = https://code.home.seanho.com/seanho/ansible-inv
[submodule "roles/basepkgs"]
	path = roles/basepkgs
	url = https://github.com/ho-ansible/basepkgs
[submodule "roles/bash"]
	path = roles/bash
	url = https://github.com/ho-ansible/bash
[submodule "roles/burp"]
	path = roles/burp
	url = https://github.com/ho-ansible/burp
[submodule "roles/cloudflare"]
	path = roles/cloudflare
	url = https://github.com/ho-ansible/cloudflare
[submodule "roles/common"]
	path = roles/common
	url = https://github.com/ho-ansible/common
[submodule "roles/distcc"]
	path = roles/distcc
	url = https://github.com/ho-ansible/distcc
[submodule "roles/dnsmasq"]
	path = roles/dnsmasq
	url = https://github.com/ho-ansible/dnsmasq
[submodule "roles/git"]
	path = roles/git
	url = https://github.com/ho-ansible/git
[submodule "roles/iptables"]
	path = roles/iptables
	url = https://github.com/ho-ansible/iptables
[submodule "roles/logrotate"]
	path = roles/logrotate
	url = https://github.com/ho-ansible/logrotate
[submodule "roles/msmtp"]
	path = roles/msmtp
	url = https://github.com/ho-ansible/msmtp
[submodule "roles/nextcloud"]
	path = roles/nextcloud
	url = https://github.com/ho-ansible/nextcloud
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/ho-ansible/nginx
[submodule "roles/nginx-site"]
	path = roles/nginx-site
	url = https://github.com/ho-ansible/nginx-site
[submodule "roles/node-app"]
	path = roles/node-app
	url = https://github.com/ho-ansible/node-app
[submodule "roles/nodejs"]
	path = roles/nodejs
	url = https://github.com/ho-ansible/nodejs
[submodule "roles/ntp"]
	path = roles/ntp
	url = https://github.com/ho-ansible/ntp
[submodule "roles/php"]
	path = roles/php
	url = https://github.com/ho-ansible/php
[submodule "roles/postgres"]
	path = roles/postgres
	url = https://github.com/ho-ansible/postgres
[submodule "roles/R"]
	path = roles/R
	url = https://github.com/ho-ansible/R
[submodule "roles/rstudio"]
	path = roles/rstudio
	url = https://github.com/ho-ansible/rstudio
[submodule "roles/rsyslog"]
	path = roles/rsyslog
	url = https://github.com/ho-ansible/rsyslog
[submodule "roles/shiny"]
	path = roles/shiny
	url = https://github.com/ho-ansible/shiny
[submodule "roles/ssh"]
	path = roles/ssh
	url = https://github.com/ho-ansible/ssh
[submodule "roles/sudo"]
	path = roles/sudo
	url = https://github.com/ho-ansible/sudo
[submodule "roles/systemd-cron"]
	path = roles/systemd-cron
	url = https://github.com/ho-ansible/systemd-cron
[submodule "roles/systemd-journald"]
	path = roles/systemd-journald
	url = https://github.com/ho-ansible/systemd-journald
[submodule "roles/systemd-networkd"]
	path = roles/systemd-networkd
	url = https://github.com/ho-ansible/systemd-networkd
[submodule "roles/systemd-resolved"]
	path = roles/systemd-resolved
	url = https://github.com/ho-ansible/systemd-resolved
[submodule "roles/systemd-timesyncd"]
	path = roles/systemd-timesyncd
	url = https://github.com/ho-ansible/systemd-timesyncd
[submodule "roles/tinc"]
	path = roles/tinc
	url = https://github.com/ho-ansible/tinc
[submodule "roles/tmux"]
	path = roles/tmux
	url = https://github.com/ho-ansible/tmux
[submodule "roles/ttrss"]
	path = roles/ttrss
	url = https://github.com/ho-ansible/ttrss
[submodule "roles/xnbd"]
	path = roles/xnbd
	url = https://github.com/ho-ansible/xnbd
[submodule "roles/gitea"]
	path = roles/gitea
	url = https://github.com/ho-ansible/gitea
[submodule "roles/burp-server"]
	path = roles/burp-server
	url = https://github.com/ho-ansible/burp-server
[submodule "roles/burp-ui"]
	path = roles/burp-ui
	url = https://github.com/ho-ansible/burp-ui
[submodule "roles/k3s"]
	path = roles/k3s
	url = https://github.com/ho-ansible/k3s
[submodule "roles/template"]
	path = roles/template
	url = https://github.com/ho-ansible/template
[submodule "roles/wireguard"]
	path = roles/wireguard
	url = https://github.com/ho-ansible/wireguard
[submodule "roles/user"]
	path = roles/user
	url = https://github.com/ho-ansible/user
[submodule "roles/systemd"]
	path = roles/systemd
	url = https://github.com/ho-ansible/systemd
[submodule "roles/squid"]
	path = roles/squid
	url = https://github.com/ho-ansible/squid
[submodule "roles/vim"]
	path = roles/vim
	url = https://github.com/ho-ansible/vim
[submodule "roles/helm"]
	path = roles/helm
	url = https://github.com/ho-ansible/helm
[submodule "roles/dracut"]
	path = roles/dracut
	url = https://github.com/ho-ansible/dracut
[submodule "roles/fscrypt"]
	path = roles/fscrypt
	url = https://github.com/ho-ansible/fscrypt
[submodule "roles/vscode"]
	path = roles/vscode
	url = https://github.com/ho-ansible/vscode
[submodule "roles/haproxy"]
	path = roles/haproxy
	url = https://github.com/ho-ansible/haproxy
[submodule "roles/avrdude"]
	path = roles/avrdude
	url = https://github.com/ho-ansible/avrdude
[submodule "roles/softether-server"]
	path = roles/softether-server
	url = https://github.com/ho-ansible/softether-server
[submodule "roles/sops"]
	path = roles/sops
	url = https://github.com/ho-ansible/sops
[submodule "roles/bird"]
	path = roles/bird
	url = https://github.com/ho-ansible/bird
[submodule "roles/wpa_supplicant"]
	path = roles/wpa_supplicant
	url = https://github.com/ho-ansible/wpa_supplicant
[submodule "roles/kopia"]
	path = roles/kopia
	url = https://github.com/ho-ansible/kopia
