[defaults]
inventory = inv
roles_path = roles
interpreter_python = auto_silent

#use_persistent_connections = True
timeout = 30
no_target_syslog = True
retry_files_enabled = False
ansible_managed = 'Ansible managed: template %Y-%m-%d %H:%M:%S by {uid}'
forks = 8

gathering = smart
fact_caching = jsonfile
fact_caching_connection = .private/facts
fact_caching_timeout = 86400

[privilege_escalation]
become = True

[connection]
pipelining = True

[ssh_connection]
pipelining = True
ssh_args = -o ForwardAgent=yes -o ProxyCommand="ssh -W %h:%p -q orca.anchorlytics.ca"
