#### Contents of the preconfiguration file (for stretch)
# https://www.debian.org/releases/stable/example-preseed.txt

### boot flags to installer:
# auto hostname=<HOST> IP=<IP> netmask= gateway=<GATEWAY> dns=<DNS> DEBCONF_DEBUG=5

### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/disable_autoconfig boolean true 
d-i netcfg/confirm_static boolean true

d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string seanho.com

d-i netcfg/wireless_wep string
d-i hw-detect/load_firmware boolean true

### Mirror settings
d-i mirror/protocol string ftp
d-i mirror/http/proxy string

### Account setup
d-i passwd/make-user boolean false
d-i passwd/root-password-crypted password $6$vzGihL6H$ZsyWJGdmnPNlszvypSHrMdqPF8uX2lnbX3RuJf4ait86lGBaUt7AN6x9y.5tGUu/GabzPHf6.b7F/8I5NembO1

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string US/Pacific
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/method string crypto

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-auto/choose_recipe select atomic

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i partman-auto-crypto/erase_disks boolean false

### Package selection
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo python-apt
d-i pkgsel/upgrade select full-upgrade

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

#d-i debian-installer/add-kernel-opts string nousb

### Finishing up the installation
d-i finish-install/reboot_in_progress note

