## /etc/logrotate.conf

olddir old
createolddir 0750 root adm
rotate 50
size 10M
compress
delaycompress
create
dateext
missingok
notifempty
nomail

# Don't include package-installed config files; we'll override them
#include /etc/logrotate.d

/var/log/lastlog 
/var/log/dpkg.log
/var/log/aptitude
{
	create 0644 root root
}

# See rsyslog.conf
/var/log/debug
/var/log/cron.log
/var/log/mail.log
/var/log/auth.log
/var/log/tinc.log
/var/log/dhcpcd.log
/var/log/messages
{
	sharedscripts
	postrotate
		invoke-rc.d rsyslog rotate > /dev/null
	endscript
}

{% if 'dns' in group_names %}
# dnsmasq
/var/log/dnsmasq {
	create 640 dnsmasq adm
	postrotate
		[ ! -f /var/run/dnsmasq/dnsmasq.pid ] || kill -HUP `cat /var/run/dnsmasq/dnsmasq.pid`
	endscript
}
{% endif %}

# burp backup
/var/log/burp.log {
	create 0640 root adm
}

{% if 'www' in group_names %}
# nginx web server
/var/log/nginx/*.log {
        create 0640 www-data adm
        sharedscripts
        postrotate
                [ -s /run/nginx.pid ] && kill -USR1 `cat /run/nginx.pid`
        endscript
}
{% endif %}

