##
# /etc/systemd/system/systemd-journal-remote.socket
# {{ ansible_managed }}

[Unit]
Description=Journal Remote Sink Socket

[Socket]
ListenStream={{ vars['ansible_' ~ tinc_prefix ~ tinc_name]['ipv4']['address'] }}:19532
FreeBind=true
BindIPv6Only=both
BindToDevice={{ tinc_prefix }}{{ tinc_name }}

[Install]
WantedBy=sockets.target
