---

- name: Firewall | package
  tags:
  - package
  package:
    name: iptables-persistent
    state: present

- name: Firewall | IPv4 ruleset
  tags:
  - config
  template:
    src: rules.v4.j2
    dest: /etc/iptables/rules.v4
    mode: 0600
  notify: restart iptables

- name: Firewall | IPv6 ruleset
  tags:
  - config
  when: "ansible_default_ipv6 | length > 0"
  template:
    src: rules.v6.j2
    dest: /etc/iptables/rules.v6
    mode: 0600
  notify: restart iptables

- name: Firewall | enable IP forwarding
  tags:
  - sysctl
  when: "'gw' in group_names"
  sysctl:
    name: net.ipv4.ip_forward
    value: 1

- name: Firewall | service
  tags:
  - service
  service:
    name: netfilter-persistent
    state: started
    enabled: yes

