##
# /lib/systemd/system/node@.service
# Node.js app instance

[Unit]
PartOf=node.service
ReloadPropagatedFrom=tinc.service

[Service]
Type=simple
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=node.service
