## /etc/iptables/rules.v4
# {{ansible_managed}}
# Firewall rules for IPv4

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Loopback
-A INPUT -i lo -j ACCEPT
-A INPUT ! -i lo -d 127.0.0.0/8 -j REJECT

# Quickly cull invalid packets
-A INPUT -m state --state INVALID -j DROP

# Accept all established inbound connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Allow VPN
-A INPUT -p udp --dport {{ tinc_port }} -j ACCEPT
-A INPUT -p tcp --dport {{ tinc_port }} -j ACCEPT
-A INPUT -i tinc_+ -j ACCEPT
-A FORWARD -i tinc_+ -j ACCEPT
-A FORWARD -o tinc_+ -j ACCEPT

{% if 'www' in group_names %}
# Allow HTTP/S
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
{% endif %}

{% set ssh_rule = '-A INPUT -p tcp -m state --state NEW --dport ' ~ ssh_port %}

{% if 0 %}
# Rate-limit new SSH connections
{{ ssh_rule }} -m recent --set --name DEFAULT --rsource
{{ ssh_rule }} -m recent --update --seconds 60 --hitcount 3 --name DEFAULT --rsource -j DROP
{% endif %}

# Allow SSH
{% for ssh_host in ssh_whitelist %}
{{ ssh_rule }} -s {{ ssh_host }} -j ACCEPT
{% else %}
{{ ssh_rule }} -j ACCEPT
{% endfor %}

# Allow DHCP client
-A INPUT -p udp --dport 68 -j ACCEPT

{% for port in iptables_ports | default("") %}
# Open custom port: {{ port }}
-A INPUT -p udp --dport {{ port }} -j ACCEPT
-A INPUT -p tcp --dport {{ port }} -j ACCEPT
{% endfor %}

# Allow ping et al.
-A INPUT -p icmp -j ACCEPT

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

{% if 'gw' in group_names %}
-A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j SNAT --to {{ ansible_default_ipv4.address }}
-A POSTROUTING -o tinc_{{ tinc_name }} -j SNAT --to {{ vars['ansible_tinc_' ~ tinc_name]['ipv4']['address'] }}
{% endif %}

COMMIT

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT
