## /etc/iptables/rules.v4
# {{ansible_managed}}
# Firewall rules for IPv4

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Loopback
-A INPUT -i lo -j ACCEPT
-A INPUT ! -i lo -d 127.0.0.0/8 -j REJECT

# Quickly cull invalid packets
-A INPUT -m state --state INVALID -j DROP

# Accept all established inbound connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Allow VPN
-A INPUT -p udp --dport {{ tinc_port }} -j ACCEPT
-A INPUT -p tcp --dport {{ tinc_port }} -j ACCEPT
-A INPUT -i {{ tinc_net }} -j ACCEPT
-A FORWARD -i {{ tinc_net }} -j ACCEPT
-A FORWARD -o {{ tinc_net }} -j ACCEPT

{%- if 'www' in group_names %}
# Allow HTTP/S
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
-A INPUT -p tcp --dport 4343 -j ACCEPT
{% endif %}

# Allow SSH
-A INPUT -p tcp -m state --state NEW --dport {{ ssh_port }} -j ACCEPT

{%- if 0 %}
# Allow rate-limited SSH
-A INPUT -p tcp -m tcp --dport {{ ssh_port }} -m state --state NEW -m recent --set --name DEFAULT --rsource
-A INPUT -p tcp -m tcp --dport {{ ssh_port }} -m state --state NEW -m recent --update --seconds 60 --hitcount 3 --name DEFAULT --rsource -j DROP
{% endif %}

# Allow ping et al.
-A INPUT -p icmp -j ACCEPT

# Allow DHCP client
-A INPUT -p udp --dport 68 -j ACCEPT

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

COMMIT

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT
