## /etc/iptables/rules.v6
# {{ ansible_managed }}
# Firewall rules for IPv6

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Loopback interface
-A INPUT -i lo -j ACCEPT

# Link-Local and multicast
-A INPUT -s fe80::/10 -j ACCEPT
-A INPUT -d ff00::/8  -j ACCEPT

# Accept all established inbound connections 
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Allow VPN
-A INPUT -p udp --dport {{ tinc_port }} -j ACCEPT
-A INPUT -p tcp --dport {{ tinc_port }} -j ACCEPT
-A INPUT -i tinc_+ -j ACCEPT
-A FORWARD -i tinc_+ -j ACCEPT
-A FORWARD -o tinc_+ -j ACCEPT

{% if 'www' in group_names %}
# Allow HTTP/S
-A INPUT -p tcp --dport  80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
{% endif %}

{% set ssh_rule = '-A INPUT -p tcp -m state --state NEW --dport ' ~ ssh_port %}

{% if 0 %}
# Rate-limit new SSH connections
{{ ssh_rule }} -m recent --set --name DEFAULT --rsource
{{ ssh_rule }} -m recent --update --seconds 60 --hitcount 3 --name DEFAULT --rsource -j DROP
{% endif %}

# Allow SSH
{% for ssh_host in ssh_whitelist_v6 %}
{{ ssh_rule }} -s {{ ssh_host }} -j ACCEPT
{% else %}
{{ ssh_rule }} -j ACCEPT
{% endfor %}

{% for port in iptables_ports | default("") %}
# Open custom port: {{ port }}
-A INPUT -p udp --dport {{ port }} -j ACCEPT
-A INPUT -p tcp --dport {{ port }} -j ACCEPT
{% endfor %}

# ICMPv6
-A INPUT   -p icmpv6 -j ACCEPT
-A FORWARD -p icmpv6 -j ACCEPT

# IPv6 Forwarding
#-A FORWARD -m state --state NEW -i tinc_{{ tinc_name }} -o venet0 -s <subnet-prefix>::/48 -j ACCEPT
#-A FORWARD -m state --state ESTABLISHED,RELATED -j ACCEPT

COMMIT
