## /etc/iptables/rules.v6
# {{ ansible_managed }}
# Firewall rules for IPv6

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Loopback interface
-A INPUT -i lo -j ACCEPT

# Link-Local and multicast
-A INPUT -s fe80::/10 -j ACCEPT
-A INPUT -d ff00::/8  -j ACCEPT

# Accept all established inbound connections 
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Allow VPN
-A INPUT -p udp --dport {{ tinc_port }} -j ACCEPT
-A INPUT -p tcp --dport {{ tinc_port }} -j ACCEPT
-A INPUT -i {{ tinc_net }} -j ACCEPT
-A FORWARD -i {{ tinc_net }} -j ACCEPT
-A FORWARD -o {{ tinc_net }} -j ACCEPT

{%- if 'www' in group_names %}
# Allow HTTP/S
-A INPUT -p tcp --dport  80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
-A INPUT -p tcp --dport 4343 -j ACCEPT
{%- endif %}

# Allow SSH
-A INPUT -p tcp --dport {{ ssh_port }} -m state --state NEW -j ACCEPT

{%- if 0 %}
# Allow rate-limited SSH
-A INPUT -p tcp --dport {{ ssh_port }} -m state --state NEW -m recent --set --name DEFAULT --rsource
-A INPUT -p tcp --dport {{ ssh_port }} -m state --state NEW -m recent --update --seconds 60 --hitcount 3 --name DEFAULT --rsource -j DROP
%}

# ICMPv6
-A INPUT   -p icmpv6 -j ACCEPT
-A FORWARD -p icmpv6 -j ACCEPT

# IPv6 Forwarding
#-A FORWARD -m state --state NEW -i {{ tinc_net }} -o venet0 -s <subnet-prefix>::/48 -j ACCEPT
#-A FORWARD -m state --state ESTABLISHED,RELATED -j ACCEPT

COMMIT
