;; PHP-FPM config

pid = /var/run/php/php{{ php_ver }}-fpm.pid
error_log = syslog
log_level = warning

process_control_timeout = 60
process.max = 32
rlimit_files = 512
rlimit_core = 0

include=/etc/php/{{ php_ver }}/fpm/pool.d/*.conf

