[www]
user = www-data
group = www-data
listen = /var/run/php/php{{ php_ver}}-fpm.sock
listen.group = www-data

pm = ondemand
pm.max_children = 10
pm.process_idle_timeout = 20s
pm.max_requests = 200

chdir = /
env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp

