<?php

	define('DB_TYPE', 'pgsql');
	define('DB_HOST', '');
	define('DB_USER', '{{ ttrss_user }}');
	define('DB_NAME', '{{ ttrss_user }}');
	define('DB_PASS', '{{ ttrss_db_pw }}');
	define('DB_PORT', '');

	define('SELF_URL_PATH', 'http://{{ ttrss_host }}:{{ ttrss_port }}/');

	define('MYSQL_CHARSET', 'UTF8');
        define('FEED_CRYPT_KEY', '');
	define('SIMPLE_UPDATE_MODE', false);
        define('SESSION_COOKIE_LIFETIME', 86400);

	define('PHP_EXECUTABLE', '/usr/bin/php');

	define('LOCK_DIRECTORY', 'lock');
	define('CACHE_DIR', 'cache');
	define('ICONS_DIR', "feed-icons");
	define('ICONS_URL', "feed-icons");

	define('AUTH_AUTO_CREATE', false);
	define('AUTH_AUTO_LOGIN', true);

	define('FORCE_ARTICLE_PURGE', 0);

	define('PUBSUBHUBBUB_HUB', '');
	define('PUBSUBHUBBUB_ENABLED', false);
	define('SPHINX_SERVER', 'localhost:9312');
	define('SPHINX_INDEX', 'ttrss, delta');

	define('ENABLE_REGISTRATION', false);
	define('REG_NOTIFY_ADDRESS', 'user@your.domain.dom');
	define('REG_MAX_USERS', 2);
        define('SINGLE_USER_MODE', true);

	define('SMTP_FROM_NAME', 'Tiny Tiny RSS');
	define('SMTP_FROM_ADDRESS', 'ttrss@example.com');
	define('DIGEST_SUBJECT', '[tt-rss] New headlines for last 24 hours');
	define('SMTP_SERVER', '');
	define('SMTP_LOGIN', '');
	define('SMTP_PASSWORD', '');
	define('SMTP_SECURE', '');

	define('CHECK_FOR_UPDATES', true);
	define('ENABLE_GZIP_OUTPUT', true);
	define('PLUGINS', 'auth_internal, cache_starred_images');
	define('LOG_DESTINATION', 'sql');
	define('CONFIG_VERSION', 26);

	// vim:ft=php

