server {
        listen {{ ttrss_port }} ssl http2;
        listen [::]:{{ ttrss_port }} ssl http2;

        server_name {{ ttrss_host }};
        root {{ ttrss_www }};

	include acme-redir;

        include nginx-php;
}
