[Unit]
Description=Tiny Tiny RSS feed updater
After=network.target mysql.service postgresql.service

[Service]
User=www-data
ExecStart={{ ttrss_www }}/update_daemon2.php

[Install]
WantedBy=multi-user.target
