server {
        listen {{ ttrss_port }} ssl;
        listen [::]:{{ ttrss_port }} ssl;

        server_name {{ ttrss_host }};
        root {{ ttrss_www }};

	include acme-redir;

        include nginx-php;
}
