## /etc/tinc/ho/tinc.conf
## Configuration for tinc mesh VPN: server
## {{ansible_managed}}

Port = {{ tinc_port }}

Name = {{ tinc_name }}
ConnectTo = {{ tinc_other }}

Mode = switch
Device = /dev/net/tun

ProcessPriority = high
GraphDumpFile = /var/www/tinc-graph.dot
LocalDiscovery = yes
PriorityInheritance = yes
PingInterval = 120
PingTimeout = 10
MaxTimeout = 300
