#! /bin/sh
# /etc/tinc/{{ tinc_name }}/tinc-up
# {{ansible_managed}}
# Link configuration once tinc VPN connection has been established
# Addressing (e.g., DHCP) is done by systemd-networkd: /etc/systemd/network/*.network

ip link set $INTERFACE up

# Save static routes to VPN servers

hostdir="/etc/tinc/{{ tinc_name }}/hosts"

gethost() {
  host -t a $1 | awk '/has address/ {i++} i>0 {print $4}'
}

getroute() {
  rt=$(ip ro get $1 | head -n 1)
  echo "${rt#$1}"
}

saveroute() {
  for node in $@; do
    for ip in $(gethost $node); do
      old_rt=$(getroute $ip)
      case "$old_rt" in
        (*error*) echo "No route: $old_rt";;
        (*) echo "Static route: $ip $old_rt"
          ip ro add $ip $old_rt;;
      esac
    done
  done
}

vpnhosts() {
  grep 'Address =' $hostdir/* | awk '{print $3}' | sort -u
}

# saveroute $(vpnhosts)

{% if ansible_virtualization_type == 'openvz' and 'vpn' not in group_names %}
dhcpcd -L $INTERFACE &
{% endif %}
