##
# /etc/tinc/{{ tinc_net }}/tinc.conf
# {{ ansible_managed }}
# Configuration for tinc mesh VPN

Port = {{ tinc_port }}

{% if 'tinc1' in cname | default("") %}
Name = tinc1
{% elif 'tinc2' in cname | default("") %}
Name = tinc2
{% else %}
Name = {{ inventory_hostname }}
{% endif %}

ConnectTo = tinc1
ConnectTo = tinc2

Mode = switch

{% if 'CYGWIN_NT-6.3' is not ansible_distribution %}
Device = /dev/net/tun
GraphDumpFile = /tmp/tinc-{{ tinc_net }}.dot
PriorityInheritance = yes
{% endif %}

ProcessPriority = high
LocalDiscovery = yes
PingInterval = 120
PingTimeout = 10
MaxTimeout = 300
