#! /bin/sh
# /etc/tinc/{{ tinc_name }}/tinc-up
# {{ansible_managed}}
# Link configuration once tinc VPN connection has been established
# Addressing (e.g., DHCP) is done by systemd-networkd: /etc/systemd/network/*.network

ip link set $INTERFACE up

{% if ansible_virtualization_type == 'openvz' %}
dhcpcd -L $INTERFACE &
{% endif %}
