##
# /etc/tinc/{{ tinc_net }}/tinc.conf
# {{ ansible_managed }}
# Configuration for tinc mesh VPN

Port = {{ tinc_port }}

Name = {{ ansible_hostname }}
ConnectTo = tinc1
ConnectTo = tinc2

Mode = switch
Device = /dev/net/tun

ProcessPriority = high
GraphDumpFile = /tmp/tinc-{{ tinc_net }}.dot
LocalDiscovery = yes
PriorityInheritance = yes
PingInterval = 120
PingTimeout = 10
MaxTimeout = 300
