#! /bin/sh
# {{ tinc_dir }}/tinc-up
# {{ansible_managed}}
# Link configuration once tun/tap interface is created

# Persistent MAC address
MACfile="{{ tinc_dir }}/mac"
MAC=$(cat "$MACfile" 2>&-)
if [ -z "$MAC" ]; then
  cat /sys/class/net/$INTERFACE/address > "$MACfile"
else
  ip link set $INTERFACE address $MAC
fi

ip link set $INTERFACE up

# Save static routes to VPN servers

hostdir="{{ tinc_dir }}/hosts"
tid=100
pri=5000

initRouting() {
  ip ru del pri $pri 2>&-
  ip ru add pri $pri from all lookup $tid
  ip ro flush table $tid
}
initRouting

gethost() {
  if [ $( echo "$@" | tr -d '[0-9a-f.:]' ) ]; then
    host -t a $1 | awk '/has address/ {i++} i>0 {print $4}'
  else
    echo "$@"
  fi
}

getroute() {
  rt=$(ip ro get $1 | head -n 1)
  echo "${rt#$1}"
}

saveroute() {
  for node in $@; do
    for ip in $(gethost $node); do
      old_rt=$(getroute $ip)
      case "$old_rt" in
        (*error*) echo "No route: $old_rt";;
        (*unreachable*) echo "No route: $old_rt";;
        (*) echo "Static route: $ip $old_rt"
          ip ro add table $tid $ip $old_rt;;
      esac
    done
  done
}

vpnhosts() {
  grep 'Address =' $hostdir/* | awk '{print $3}' | sort -u
}

saveroute $(vpnhosts)

{% if tinc_use_dhcpcd %}
dhcpcd -bL $INTERFACE
{% else %}
# DHCP handled by systemd-networkd: see /etc/systemd/network/*.network
{% endif %}
