## /etc/systemd/network/20-{{ tinc_name }}.network
# per-link config of systemd-network
# {{ ansible_managed }}

[Match]
Name={{ tinc_name }}

[Network]
Description="tinc VPN {{ tinc_name }}"
LinkLocalAddressing=no
IPv6AcceptRA=no
LLMNR=false

{% if 'tinc' in cname | default("") %}
Address={{ tinc_subnet }}.{{ cname | regex_replace('^.*tinc(\\d+).*$', '\\1') }}/24
DNS={{ tinc_subnet }}.1
Domains={{ tinc_domain }}
IPForward=yes

{% elif ansible_virtualization_type != 'openvz' %}
Domains=~.
DHCP=yes

[DHCP]
UseDomains=true
RouteMetric=400
UseHostname=false

{% else %}
# /etc/tinc/{{ tinc_name}}/tinc-up calls dhcpcd
{% endif %}
