## /etc/systemd/network/20-{{ tinc_name }}.network
# per-link config of systemd-network
# {{ ansible_managed }}

[Match]
Name={{ tinc_name }}

[Network]
Description="tinc VPN {{ tinc_name }}"
LinkLocalAddressing=no

{% if 'tinc' in cname | default("") %}
Address={{ tinc_subnet }}.{{ cname | regex_replace('^.*tinc(\\d+).*$', '\\1') }}/24
#Gateway={{ tinc_subnet }}.1
DNS={{ tinc_subnet }}.1
Domains={{ tinc_name }}.vpn
IPForward=yes

{% else %}
Domains=~.
DHCP=yes

[DHCP]
UseDomains=true
RouteMetric=400
{% endif %}
