##
#/etc/xnbd.conf
# {{ ansible_managed }}
# Network block device: client

{
{% for host in groups['xnbd-server'] %}
  "nbd{{ loop.index0 }}": {
    "host": "{{ hostvars[host]['ansible_' ~ tinc_net]['ipv4']['address'] }}",
    "port": {{ xnbd_port }},
    "name": "0"
  }
{% endfor %}
}
