##
#/etc/xnbd.conf
# {{ ansible_managed }}
# Network block device: client

{
{% for host in groups['xnbd-server'] %}
  "nbd{{ loop.index-1 }}": {
    "host": "{{ hostvars[host]['ansible_' ~ tinc_net]['ipv4']['address'] }}",
    "port": "{{ xnbd_port }}",
    "name": "{{ host }}"
  }
{% endfor %}
}
