##
# /etc/systemd/system/burp-ui.service
# {{ ansible_managed }}

[Unit]
Description = Web interface to burp backup server
After = burp.service

[Service]
ExecStart = /usr/local/bin/burp-ui -l /var/log/burp-ui.log -p {{ burpui_localport }}

[Install]
WantedBy = multi-user.target

