# /etc/burp/burp.conf: burp backup client config
# {{ansible_managed}}

mode = client

server = {{ burp_server }}
port = {{ burp_port }}

password = {{ burp_pw }}
cname = {{ ansible_hostname }}

pidfile = /var/run/burp.pid
autoupgrade_dir = /etc/burp/upgrade/
autoupgrade_os = {{ ansible_distribution }}

syslog = 0
stdout = 1
progress_counter = 1
randomise = 1200

server_can_restore = 0

ca_burp_ca      = /usr/sbin/burp_ca
ca_csr_dir      = /etc/burp/keys/
ssl_cert_ca     = /etc/burp/keys/ca.crt
ssl_cert        = /etc/burp/keys/{{ ansible_hostname }}.crt
ssl_key         = /etc/burp/keys/{{ ansible_hostname }}.key
ssl_key_password = password
ssl_peer_cn	= {{ burp_server_CN }}
