## C:/Program Files/Burp/burp.conf:
# burp backup client config for Windows
# {{ansible_managed}}

mode = client

server = {{ burp_server }}
port = {{ burp_port }}
status_port = {{ burp_status_port }}

cname = {{ inventory_hostname }}
password = {{ burp_pw }}

autoupgrade_os = win64
autoupgrade_dir = C:/Program Files/Burp/autoupgrade

stdout = 0
progress_counter = 0
randomise = 1200
server_can_restore = 1

split_vss = 0
strip_vss = 0

lockfile = C:/Program Files/Burp/lockfile
ca_burp_ca = C:/Program Files/Burp/bin/burp_ca.bat
ca_csr_dir = C:/Program Files/Burp/CA
ssl_cert_ca = C:/Program Files/Burp/ssl_cert_ca.pem
ssl_cert = C:/Program Files/Burp/ssl_cert-client.pem
ssl_key = C:/Program Files/Burp/ssl_cert-client.key
ssl_key_password = password
ssl_peer_cn	= {{ burp_server_CN }}
