[Global]
port = {{ burp_ui_port }}
bind = {{ burp_server }}
standalone = true
auth = basic

[UI]
refresh = 30

[Burp2]
burpbin = /usr/sbin/burp
stripbin = /usr/sbin/vss_strip
bconfcli = /etc/burp/burp.conf
bconfsrv = /etc/burp/server.conf
tmpdir = /tmp/burpui-restore

[BASIC]
admin = "{{ burpui_pw_hash }}"

