# Burp-UI configuration file
# @version@ - 0.4.2
# @release@ - stable
[Global]
version = 2
standalone = true
auth = basic
#acl = basic
#prefix = none

[UI]
refresh = 60
liverefresh = 5

[Production]
storage = default
session = default
cache = default
database = sqlite:////etc/burp/burpui.db

[Security]
includes = /etc/burp
enforce = false
revoke = true
cookietime = 14
sessiontime = 5
scookie = true
appsecret = random

[Experimental]
zip64 = false
noserverrestore = false

[Burp2]
burpbin = /usr/sbin/burp
stripbin = /usr/sbin/vss_strip
bconfcli = /etc/burp/burp.conf
bconfsrv = /etc/burp/server.conf
tmpdir = /tmp/burp-ui
timeout = 15

[BASIC]
admin = "{{ burpui_pw_hash }}"
