## /etc/burp/server.conf: burp backup server config
# burp -c /etc/burp/server.conf
# {{ ansible_managed }}

mode = server
protocol = 1

address = {{ burp_server }}
port = {{ burp_port }}
status_address = {{ burp_server }}
status_port = {{ burp_status_port }}

directory = {{ burp_data_dir }}
dedup_group = global
pidfile = /var/run/burp-server.pid
clientconfdir = /etc/burp/clients
autoupgrade_dir = /etc/burp/upgrade/server

user = {{ burp_user }}
hardlinked_archive = 0
working_dir_recovery_method = resume
max_children = 15
max_status_children = 15
umask = 0022
syslog = 1
stdout = 1
soft_quota = 50G
#hard_quota = 100G
network_timeout = 1800
monitor_browse_cache = 1

version_warn = 1

client_can_delete = 0
client_can_force_backup = 1
client_can_list = 1
client_can_restore = 1
client_can_verify = 1

ca_conf         = /etc/burp/CA/CA.conf
ca_burp_ca      = /usr/sbin/burp_ca
ca_name         = {{ burp_ca_name }}
ca_server_name  = {{ burp_server_CN }}
ssl_dhfile      = /etc/burp/keys/dhfile.pem
ssl_cert_ca     = /etc/burp/keys/ca.crt
ssl_cert        = /etc/burp/keys/server.crt
ssl_key         = /etc/burp/keys/server.key
ssl_key_password = password

keep = 7
keep = 4
keep = 6

timer_script = /etc/burp/scripts/timer
timer_arg = 20h
timer_arg = Mon,Tue,Wed,Thu,Fri,Sat,Sun,00,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23

{% for host in burp_restore_clients %}
restore_client = {{ host }}
{% endfor %}
