---

- name: tt-RSS | PHP modules
  tags:
  - package
  package:
    name: "{{ item }}"
    state: present
  with_items:
  - php-cli
  - php-gd
  - php-curl
  - php-pgsql

- name: tt-RSS | git clone
  tags:
  - package
  - git
  git:
    repo: 'https://tt-rss.org/git/tt-rss.git'
    dest: "{{ ttrss_www }}"
    depth: 1 
  notify: restart tt-rss

- name: tt-RSS | file permissions
  tags:
  - permissions
  file:
    path: "{{ ttrss_www }}"
    owner: root
    group: www-data
    mode: 'g-w,o='
    recurse: yes

- name: tt-RSS | writable dirs
  tags:
  - permissions
  file:
    path: "{{ ttrss_www }}/{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: 'u+rw'
    recurse: yes
  with_items:
  - cache
  - feed-icons
  - lock

- name: tt-RSS | config files
  tags:
  - config
  template:
    src: "{{ item.src }}.j2"
    dest: "{{ item.dest }}/{{ item.src }}"
  with_items:
  - { src: config.php, dest: "{{ ttrss_www }}" }
  - { src: tt-rss.service, dest: /etc/systemd/system }
  notify: restart tt-rss

- name: tt-RSS | nginx config
  tags:
  - config
  - site
  template:
    src: "{{ item }}.nginx.j2"
    dest: /etc/nginx/sites-available/{{ item }}
  with_items:
  - tt-rss

- name: tt-RSS | nginx site enabled
  tags:
  - site
  file:
    src: /etc/nginx/sites-available/{{ item }}
    dest: /etc/nginx/sites-enabled/{{ item }}
    state: link
  with_items:
  - tt-rss

- name: tt-RSS | updater service
  tags:
  - service
  service:
    name: tt-rss
    state: started
    enabled: yes

- name: tt-RSS | DB user
  tags:
  - db
  become_user: postgres
  postgresql_user:
    name: "{{ ttrss_user }}"
    password: "{{ ttrss_db_pw }}"
    role_attr_flags: NOSUPERUSER,NOCREATEDB

- name: tt-RSS | DB
  tags:
  - db
  become_user: postgres
  postgresql_db:
    name: "{{ ttrss_user }}"
    owner: "{{ ttrss_user }}"

