defaults
logfile /var/log/msmtp
auth
tls
port 587
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account gmail
host smtp.gmail.com
from {{ msmtp_login }}
user {{ msmtp_login }}
password {{ msmtp_pw }}

account default: gmail