[Unit]
Description={{ node_description }}
Documentation={{ node_repo }}
After=network.target

[Service]
Environment=PORT={{ node_localport }} ADDR=127.0.0.1
Type=simple
User={{ node_user }}
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
