server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ node_hostname }};

  location / {
    proxy_pass http://localhost:{{ node_localport }}/;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-NginX-Proxy true;
    proxy_ssl_session_reuse off;
    proxy_cache_bypass $http_upgrade;
    proxy_redirect off;
  }
}
