##
# /etc/defaults/distcc
# {{ ansible_managed }}
# DistCC worker (server) config

ALLOWEDNETS="{{ tinc_subnet }}.0/24"
LISTENER="{{ vars['ansible_' ~ tinc_prefix ~ tinc_name]['ipv4']['address'] }} --log-level=warning"
NICE="5"
ZEROCONF=""
JOBS=""
