# Configuration file for dnsmasq.
# See "/usr/sbin/dnsmasq --help" or "man 8 dnsmasq" for details.
# {{ansible_managed}}

interface={{ tinc_prefix }}{{ tinc_name }}	# listen (+ lo)
# bind-dynamic

user=dnsmasq	# Drop privs
group=dip

log-facility=/var/log/dnsmasq
log-async

# DNS
domain-needed		# Only forward FQDNs to upstream DNS
bogus-priv		# Never forward private-IP reverse lookups
bogus-nxdomain=64.94.110.11	# Verisign
bogus-nxdomain=104.239.213.7	# Level3
bogus-nxdomain=198.105.254.11	# Level3
stop-dns-rebind		# Reject private IPs from upstream servers
rebind-localhost-ok	# ... except for 127.0.0.0/8 (for ad/spam blockers)
filterwin2k		# Filter useless requests from Windows
expand-hosts		# Add domain to names from /etc/hosts
conntrack		# Accting: inbound req + outbound upstream
cache-size=200		# Number of DNS results
#local-ttl=600		# Clients cache DNS results for this long

# Upstream DNS servers
no-resolv		# only use specified servers
servers-file=/etc/dnsmasq.servers

# DHCP
domain={{ tinc_domain }},{{ tinc_subnet }}.0/24,local

{% if 'tinc1' in tinc_hostname %}
dhcp-range=interface:tinc_{{ tinc_name }},{{ tinc_subnet }}.128,{{ tinc_subnet }}.250,255.255.255.0,3h
dhcp-range=::100:1,::100:ffff,constructor:{{ ansible_default_ipv4.interface }},3h

dhcp-hostsfile=/etc/dnsmasq.hosts
dhcp-optsfile=/etc/dnsmasq.opts
addn-hosts=/etc/adblock.hosts	# in /etc/hosts format

dhcp-authoritative
auth-zone={{ tinc_domain }},{{ tinc_prefix }}{{ tinc_name }}/6
#auth-sec-servers={{ tinc_subnet }}.2

quiet-dhcp		# don't log DHCP traffic
localmx			# Mailhost is this server
dhcp-generate-names	# Use MAC to make a name if not supplied by client

# CNAMEs
cname=burp,bhs4
cname=backup,burp
cname=ttrss,bhs4
cname=news,ttrss

{% endif %}
