# Configuration file for dnsmasq.
# See "/usr/sbin/dnsmasq --help" or "man 8 dnsmasq" for details.
# {{ansible_managed}}

log-facility=/var/log/dnsmasq
log-async

domain-needed	# Only forward names with domains to upstream DNS
bogus-priv	# Never forward addresses in the non-routed address spaces.
bogus-nxdomain=64.94.110.11	# Verisign's annoying traps of invalid domains
stop-dns-rebind	# Reject private IPs coming from upstream DNS servers
rebind-localhost-ok	# ... except for 127.0.0.0/8 (for ad/spam blockers)
filterwin2k	# Filter useless windows-originated DNS requests and SRV

localmx		# Mailhost is dnsmasq server (or mx-target)
enable-dbus	# Use DBus to notify us of upstream DNS server change
expand-hosts	# Add domain to names from /etc/hosts
localise-queries	# For multihomed hosts, return IP from source subnet
cache-size=200	# We cache this many DNS results
#local-ttl=600	# Clients cache DNS results for this long
#conntrack	# Make upstream query/answers compatible with firewall (segfaults!)

user=dnsmasq	# Drop privs
group=dip

interface={{ tinc_net }}	# Interfaces to listen on (plus lo)

server=84.200.69.80	# Upstream DNS: DNS.Watch
server=72.80.25.34	# Upstream DNS: ORSN
server=4.2.2.1		# Upstream DNS: Level3

# Allow DHCP to hand out these domains
domain=ho.vpn,10.100.1.0/24,local

dhcp-range=interface:ho,10.100.1.128,10.100.1.250,255.255.255.0,24h
dhcp-range=interface:ho,fde7:3bf4:efbb:cc91::,64,24h

dhcp-hostsfile=/etc/dnsmasq.hosts
dhcp-optsfile=/etc/dnsmasq.opts

#dhcp-authoritative	# Override other/old DHCP leases
enable-ra		# IPv6 router advertisements
dhcp-generate-names	# Use MAC to make a name if not supplied by client

