---

- name: Burp web UI | packages
  tags:
    - package
  package:
    name: "{{ item }}"
  with_items:
    - python-pip
    - libpython-dev
    - libffi-dev
    - libssl-dev

- name: Burp web UI | packages (pip)
  tags:
    - package
  pip:
    name: "{{ item }}"
    state: latest
  with_items:
    - markupsafe
    - alembic
    - functools32
    - "burp-ui[sql]"
  notify: restart burp-ui

- name: Burp web UI | config
  tags:
    - config
  template:
    src: burpui.cfg.j2
    dest: /etc/burp/burpui.cfg
  notify: restart burp-ui

- name: Burp web UI | nginx host
  tags:
    - config
  template:
    src: burp.nginx.j2
    dest: /etc/nginx/sites-available/burp
  notify: reload nginx

- name: Burp web UI | enable nginx host
  tags:
    - config
  file:
    src: /etc/nginx/sites-available/burp
    dest: /etc/nginx/sites-enabled/burp
    state: link
  notify: reload nginx

- name: Burp web UI | systemd service
  tags:
    - systemd
  copy:
    src: burp-ui.service
    dest: /etc/systemd/system
  notify: restart burp-ui

- name: Burp web UI | service
  tags:
    - service
  service:
    name: burp-ui
    state: started
