---

- name: burp backup | directories
  tags:
  - dirs
  file:
    path: "{{item}}"
    state: directory
    mode: 0750
  with_items:
  - /etc/burp
  - /etc/burp/keys
  - /etc/burp/upgrade

- name: burp backup | dependencies
  tags:
  - package
  package:
    name: librsync-dev
    state: installed

# Binaries compiled on a Debian host from git:
# sudo apt-get install make pkg-config check g++ librsync-dev libz-dev libssl-dev uthash-dev libyajl-dev
# sudo apt-get install autoconf automake libtool
# git clone https://github.com/grke/burp && cd burp/
# git checkout {{ burp_version }}
# autoreconf -fis
# ./configure --prefix=/usr --sysconfdir=/etc/burp --localstatedir=/var
# make

- name: burp backup | executables
  tags:
  - binary
  copy:
    src: "bin/{{ burp_version }}/{{ ansible_architecture }}/{{ item }}"
    dest: /usr/sbin/
    mode: 0755
  with_items:
  - burp
  - burp_ca
  - vss_strip

- name: burp backup | config
  tags:
  - config
  template:
    src: burp.conf.j2
    dest: /etc/burp/burp.conf
    mode: 0640

- name: burp backup | cron
  tags:
  - cron
  cron:
    name: 'burp cron'
    special_time: daily
    job: 'burp -a t'
